/*====== GENERALES =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
.titulo{
    color: #FE9C2D;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
/*====== HEADER =====*/
header{
    width: 100%;
    height: 500px;
   /*background: -o-linear-gradient();
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 11%, 9%, 0.603), hsla(34, 100%, 63%, 0.603), hsla(240, 11%, 9%, 0.603));
    /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, hsla(240, 11%, 9%, 0.603), hsla(34, 100%, 63%, 0.603), hsla(240, 11%, 9%, 0.603)); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.textos-header h1{
    font-size: 60px;
    color: #fff;
}
.textos-header h2{
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}
header .textos-header{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 5px;
}
nav > a:hover{
    color: black;
}   
/*====== TITULO =====*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-sobre-nosotros img{
    margin-right: 50px;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #94db94;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenedor-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.sobre-nosotros .contenedor-textos{
    width: 48%;
}
.imagen-about-us{
    width: 40%;
}
/*====== PORTAFOLIO =====*/
.contenedor{
    padding: 50px 0;
    width: 100%;
    max-width: 85%;
    margin: auto;
    overflow: hidden;
}
.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(179, 95%, 36%, 0.603);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: #ffffff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*====== CARDS =====*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #94c7db;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #277255;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*====== DESCRIPCIONES =====*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}  
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ins{
    width: 28%;
    text-align: center;
}
.servicio-ins img{
    width: 90%;
}
.servicio-ins h3{
    margin: 10px 0;
}
.servicio-ins p{
  font-weight: 300;
  text-align: justify;  
}
/*====== FOOTER =====*/
footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: white;
    border-bottom: 3px solid #94db94;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: white;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #94db94;
}
/*===========*/