*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #4c93a0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 500px;
   /*background: -o-linear-gradient();
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(236, 90%, 39%, 0.603), hsla(135, 97%, 60%, 0.603)), url(a1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, hsla(236, 90%, 39%, 0.603), hsla(135, 97%, 60%, 0.603)), url(a1.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
   position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 5px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textos-header h1{
    font-size: 60px;
    color: #fff;
}
.textos-header h2{
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}